<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://120.132.68.18:8088/data/download/channel_2/ios/release/Moshi.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://120.132.68.18:8088/Public/Admin/icon/Icon.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://120.132.68.18:8088/Public/Admin/icon/Icon.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.xiaoxi.Moshi</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>Mower</string>
				<key>title</key>
				<string>Mower</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
